@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #202020; */
  background-color: #170a37;
  color: white
}


.main_text {
  background: -webkit-linear-gradient(rgb(244, 244, 244)45%, rgb(2, 7, 31) 9%, rgb(49, 227, 9) 5%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: mediumaquamarine;
  color: tomato;
}

.anchor {
  /* margin-left: 45vw !important; */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.995);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}